body {
    font-family: arial;
    font-size: 16px;
    background-color: #121212ee;
    color: #FFFFFF;
    opacity: 0.8;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 32px;
}

.left {
    text-align: left;
}

a {
    color:antiquewhite
}